body {
    font-family: $font-gilroy;
    font-weight: 400;
    color: $color-black;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 20px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {

}

.main {
    flex: 1 1 auto;
}

.footer {

}