<section class="acclication">
    <div class="container">
        <div class="acclication__row">
            <div class="acclication__text">
                Let's go. Get a link <br>
                to download the app.
            </div>
            <form class="acclication__form" action="" method="get" autocomplete="on">
                <input placeholder="Enter mobile phone number" maxlength="35" type="text" class="acclication__input">
                <a href="#!" class="acclication__button">apply to drive</a>
            </form>
        </div>
    </div>
</section>