<section class="benefits">
    <div class="container">
        <div class="benefits__wrapper">
            <h2 class="benefits__title"><span>TERE</span> BENEFITS</h2>
            <div class="benefits__main">
                <div class="benefits__row">
                    <div class="benefits__item benefits__item-first">
                        <div class="benefits__body">
                            <div class="benefits__wrap">
                                <div class="benefits__count">01.</div>
                                <h3 class="benefits__heading benefits__heading-first">
                                    Flexible
                                    working hours
                                </h3>
                            </div>
                            <div class="benefits__descr">
                                You can decide when, and how much <br>
                                time you want to drive.
                            </div>
                        </div>
                        <div class="benefits__image">
                            <img src="../assets/img/section-4/run-time.jpg" alt="run-time">
                        </div>
                    </div>
                    <div class="benefits__item benefits__item-second">
                        <div class="benefits__body">
                            <div class="benefits__wrap">
                                <div class="benefits__count">02.</div>
                                <h3 class="benefits__heading benefits__heading-second">
                                    Earnings
                                </h3>
                            </div>
                            <div class="benefits__descr">
                                By driving with tere you can <br>
                                earn more.
                            </div>
                        </div>
                        <div class="benefits__image">
                            <img src="../assets/img/section-4/cash.jpg" alt="cash">
                        </div>
                    </div>
                    <div class="benefits__item benefits__item-third">
                        <div class="benefits__body">
                            <div class="benefits__wrap">
                                <div class="benefits__count">03.</div>
                                <h3 class="benefits__heading">
                                    Customer <br>
                                    support 24/7
                                </h3>
                            </div>
                            <div class="benefits__descr">
                                Tere is a local service provider and we are proud to support you in your local language.
                                We are proud to be at your
                                service 24/7!
                            </div>
                        </div>
                        <div class="benefits__image">
                            <img src="../assets/img/section-4/support.jpg" alt="support">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
