<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__item">
                <div class="footer__logo">
                    <img src="../assets/img/section-5/logo-footer.svg" alt="logo">
                </div>
            </div>
            <div class="footer__item">
                <h2 class="footer__title">Be Our Friend</h2>
                <a href="#!" class="footer__link">3, Season Park, Jakarta</a>
                <a href="#!" class="footer__link">support@foodyar.co,id</a>
                <a href="#!" class="footer__link">021 - 1111 - 2222</a>
            </div>
            <div class="footer__item">
                <h2 class="footer__title">Be Our Friend</h2>
                <a href="#!" class="footer__link">3, Season Park, Jakarta</a>
                <a href="#!" class="footer__link">support@foodyar.co,id</a>
                <a href="#!" class="footer__link">021 - 1111 - 2222</a>
            </div>
            <div class="footer__item">
                <div class="footer__buttons">
                    <a href="#!" class="footer__button footer__button-play">
                        <img src="../assets/img/section-5/play-store-footer.svg" alt="play">
                        <div class="footer__text">
                            download
                        </div>
                    </a>
                    <a href="#!" class="footer__button footer__button-store">
                        <img src="../assets/img/section-5/app-store-footer.svg" alt="app">
                        <div class="footer__text">
                            download
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>