<header class="header">
    <div class="container">
        <div class="header__row">
            <div class="header__logo">
                <img src="../assets/img/section-1/header-logo.svg" alt="logo">
            </div>
            <nav class="nav">
                <div class="nav__row">
                    <div class="nav__item">
                        <a href="#!" class="nav__link">Home</a>
                    </div>
                    <div class="nav__item">
                        <a href="#!" class="nav__link">How tere works</a>
                    </div>
                    <div class="nav__item">
                        <a href="#!" class="nav__link">Tere benefits</a>
                    </div>
                    <div class="nav__item">
                        <a href="#!" class="nav__help">Help Center</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
