<section class="page">
    <div class="container">
        <div class="page__section">
            <div class="page__info">
                <div class="page__body">
                    <h1 class="page__title">
                        DOWNLOAD APP,
                        SAVE MONEY, MAKE
                        FRIENDS!
                    </h1>
                    <div class="page__descr">
                        Its simple and its free. Play your part in reducing Carbon Footprint and help Mother Nature to sustain its beauty. So
                        what are you waiting for ?
                        Lets ride together
                    </div>
                    <div class="page__buttons">
                        <div class="page__button page__button-play">
                            <img src="../assets/img/section-2/play-store.svg" alt="play-store">
                            <div class="page__text">download</div>
                        </div>
                        <div class="page__button page__button-store">
                            <img src="../assets/img/section-2/app-store.svg" alt="app-store">
                            <div class="page__text">download</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page__background">
                <div class="page__bg">
                    <picture>
                        <source srcset="../assets/img/section-2/bg-page.webp" type="image/webp">
                    </picture>
                    <img src="../assets/img/section-2/bg-page.jpg" alt="bg-page">
                </div>
            </div>
        </div>
    </div>
</section>