<section class="works">
    <div class="container">
        <div class="works__sup">
            <h2 class="works__title">
                HOW <span>TERE</span> WORKS
            </h2>
            <div class="works__descr">
                Download and install the tere app. Enter your phone number and make your user account. when approved you
                may start
                driving.
            </div>
        </div>
        <div class="works__main">
            <div class="works__body">
                <div class="works__item works__item-request">
                    <div class="works__icon">
                        <img src="../assets/img/section-3/round-1.svg" alt="round">
                    </div>
                    <h3 class="works__heading">REQUEST A RIDE</h3>
                    <div class="works__text">
                        Have to reach office or going for shopping ?
                        Just put your current location and destination and search a ride that suits you
                    </div>
                </div>
                <div class="works__item works__item-post">
                    <div class="works__icon">
                        <img src="../assets/img/section-3/round-2.svg" alt="round">
                    </div>
                    <h3 class="works__heading">POST A RIDE</h3>
                    <div class="works__text">
                        Going somewhere but hate to travel alone -
                        just post your ride details and publish it
                    </div>
                </div>
                <div class="works__item works__item-instant">
                    <div class="works__icon">
                        <img src="../assets/img/section-3/round-3.svg" alt="round">
                    </div>
                    <h3 class="works__heading">INSTANT NOTIFICATIONS</h3>
                    <div class="works__text">
                        Get instant notifications for your rides and be in contact with fellow riders all the time
                    </div>
                </div>
                <div class="works__item works__item-cashless">
                    <div class="works__icon">
                        <img src="../assets/img/section-3/round-4.svg" alt="round">
                    </div>
                    <h3 class="works__heading">CASHLESS PAYMENT</h3>
                    <div class="works__text">
                        Payment made easy by using your own Wallet - no more cash to carry
                    </div>
                </div>
                <div class="works__item works__item-phone">
                    <img src="../assets/img/section-3/phone-1.jpg" alt="phone">
                </div>
            </div>
        </div>
    </div>
</section>
